body {
  font-family: Helvetica;
}

#app {
  background: #fff;
  transition: all 0.2s;
  padding: 4px;
}

textarea {
  width: 100%;
  height: 10em;
  background-color: #fcdb1f;
}

table {
  margin-top: 2em;
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ddd;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: left;
  vertical-align: middle;
}

tr:hover {
  background-color: #ddd;
}

tr.header th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #0079ef;
  color: white;
}

tr.section th {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #29cdfe;
  color: white;
}

pre {
  white-space: pre-wrap;
}
