body {
  font-family: Helvetica;
}

#app {
  background: #fff;
  transition: all 0.2s;
}

textarea {
  width: 100%;
  height: 15em;
  background-color: #FCDB1F;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  vertical-align: middle; 
}

tr:hover {
  background-color: #ddd;
}

tr.header th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #0079EF;
  color: white;
}

tr.section th {
  background-color: #29CDFE;
  color: white;
}

pre {
  white-space: pre-wrap;
}
